body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

*{
    font-family: 'roboto', sans-serif;
    transition: all .2s linear;
    scroll-behavior: smooth;
}
.logo{
    width: 40%;
    margin-top: -7px;
  }
.bar_items{
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 10px;
    margin-left: 40px; 
}
.bar_items:hover{
    background-color: #48e8a8;
    color: white;
    border-radius: 50px;
}
.bar_items2{
    text-decoration: none;
    padding: 3px 10px;
    margin-top: 10px;
    background-color: white;
    margin-left: 40px;
    border: 2px solid #48e8a8;
    color:#48e8a8;
    border-radius: 50px;
    cursor: pointer;
}
.bar_items2:hover{
    background-color: orange;
    color: white;
    border-color: orange;
}
.nav-container {
    height: 63px;
    width: 100%;
    position: fixed;
    color: black;
    letter-spacing: 0.025em;
    transition: background-color 0.2s linear;
}
.nav-container.solid-nav {
    background-color: #f3fefa;
    color:black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: background-color 0.2s linear;
}
.hh1{
    color: #48e8a8;
    font-weight: 600;
}
.hh2{
    width: 100%;
    font-weight: 900;
    font-size: 45px;
    line-height: 1.3;
}
.hh3{
    font-size: 16px;
    width: 70%;
    margin-top: -10px;
    color:grey;
}
.btn1{
    margin-top: 10px;
    padding: 6px 30px;
    border-radius: 50px;
    border: 2px solid #48e8a8;
    background-color: #48e8a8;
    color:white;
    cursor: pointer;
    transition: 0.5s;
    display: inline-block;
    position: relative;
}
.btn1:after {
    content: '	\2192';
    font-size:28px;
    position: absolute;
    opacity: 0;  
    top: -4px;
    right: -20px;
    transition: 0.5s;
  }
  
.btn1:hover{
    padding-right: 41px;
    padding-left:19px;
    background-color: white;
    color: #48e8a8;
    font-weight: bold;
  }
  
.btn1:hover:after {
    opacity: 1;
    right: 10px;
}
.for_padding{
    padding: 100px 0px 10px 100px;
  }
.bkg1{
    background-image: url("../assets/conection-shap.png");
    background-repeat: no-repeat;
    background-position: -10% 90%;
    animation: myani 2.5s infinite;
}
@keyframes myani{
    0%{
        background-position: -10% 90%;
    }
    50%{
        background-position: -10% 80%; 
    }
}
.bkg2{
    background-image: url("../assets/banner-shap.png");
    background-repeat: no-repeat;
    background-position: 110% -5%;
    animation: myanis 5s infinite;
}
@keyframes myanis{
    0%{
        background-position: 110% -5%;
    }
    50%{
        background-position: 110% 10%; 
    }
}
.header2_img{
    width: 80%;
    padding-top: 140px;
}
.padding_for_elements{
    padding: 90px 65px;
}
.what_block{
    background-image: url("../assets/footer-shap.png");
    background-repeat: no-repeat;
    background-position: 100% 20%;
}
.hh4{
    font-weight: 800;
    font-size: 14px;
}
.hh5{
    font-weight: 900;
    font-size: 30px;
    width: 71%;
    margin: 30px 0px;
}
.hh5 span{
    color:orange;
}
.hh6{
    color:grey;
}
#freemov i{
    font-size: 43px;
    color:orange;
}
#freemov div{
    transition: 1s;
    width: 32%;
}
#freemov div:hover{
    background-color: white;
    transform: translate(0, -15px);
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.hh7{
    font-weight: 800;
}
.hh8{
    color:grey;
    font-size: 14px;
    width: 97%;
}
.hh9{
    color:grey;
    font-size: 14px;
    width: 70%;
}
.hh5 span{
    color: orange;
}
.eliminate_div{
    padding: 20px 30px;text-align: center;
}
.eliminate_div:hover{
    background-color: white;
    z-index: 100;
    transform: translate(0, 0);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}
.eliminate_div h4{
    font-weight: 800;
    width: 70%;
    color: white;
    opacity: .9;
    text-align: justify;
    font-size: 17px;
}
.eliminate_div h6{
    margin-top: 30px;
    text-align: justify;
    margin-bottom: 60px;
    width: 80%;
}
.hh10{
    width: 100%;
    margin-top: 15px;
    text-align: justify;
    margin-bottom: 51px;
}
.hh11{
    font-weight: 900;
}
.hh11 span{
    color: orange;
    font-style: italic;
}
.btn2{
    margin-top: 10px;
    padding: 8px 30px;
    border-radius: 50px;
    border: 2px solid orange;
    background-color: white;
    color:orange;
    cursor: pointer;
    transition: 0.5s;
    display: inline-block;
    position: relative;
}
.btn2:after {
    content: '	\2192';
    font-size:18px;
    position: absolute;
    opacity: 0;  
    top: 5px;
    right: -22px;
    transition: 0.5s;
  }
  
.btn2:hover{
    padding-right: 41px;
    padding-left:19px;
    background-color:orange;
    color: white;
    font-weight: bold;
  }
  
.btn2:hover:after {
    opacity: 1;
    right: 10px;
}
.hh12{
    font-weight: 800;
    font-size: 28px;
    margin-bottom: 14px;
    color:white;
}
.hh13{
    text-align: left;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.hh13{
    font-weight: 800;
}
.hh13 span{
    font-weight: 100;
    opacity: .8;
    font-style: italic;
}
.hh13 span{
    text-align: right;
    margin-left: auto;
}
.hh13 i{
    font-size: 22px;
    margin-right: 20px;
    color: black;
}
#contact_form input{
    width: 100%;
    padding: 8px 0px 8px 14px;
    margin: 2px 0px;
    outline: none;
    border-radius: 50px;
    border: 1px solid white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 14px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
#contact_form input:focus{
    border: 1px solid ;
    border-color: rgba(72,232,168,0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(72, 232, 168, 0.6);
    outline: 0 none;
}
#contact_form textarea{
    padding: 8px 14px;
    outline: none;
    border-radius: 15px;
    border: 1px solid white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 14px;
    margin: 2px 0px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
#contact_form textarea:focus{
    border: 1px solid;
    border-color: rgba(72,232,168,0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(72, 232, 168, 0.6);
    outline: 0 none;   
}
#contact_form input[type="submit"]{
    background-color: #78c570;
    font-size: 16px;
    border: none;
    color:white;
    cursor: pointer;
    transition:  1s linear;
}
#contact_form input[type="submit"]:hover{
    background-color: blue;   
}
footer{
    /*background-image: linear-gradient(#74cd70,#64cb7c,#47c893);*/
    background-image: url("../assets/footer.png");
    background-size: cover;
}
#foot a{
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
    color: white;
}
#foot a:hover{
    color:orange;
}
.ff1{
    text-decoration: none;
    font-size: 14px;
}
#foot_2 a{
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    transition: 0.7s;
}
#foot_2 i:hover{
    color:orange;
}
.login_popup{
    z-index: 1;
    overflow: hidden;
    background-color: white;
    padding: 45px 30px 35px 30px;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    left:30%;
    width: 400px;
    /*background-image: url("../assets/wedd-min.jpg");*/
    background-image: url("../assets/form_bkg.png");
    background-position: -10% 120%;
    animation: moove 5s  infinite;
    /*background-size: cover;*/
    background-repeat: no-repeat;
    box-shadow: 5px 10px 10px rgba(72, 232, 168, 0.2);
}
@keyframes moove{
    0%{
        background-position: -10% 120%;
    }
    50%{
        background-position: 40% -60%;
    }
    60%{
        background-position: 45% -50%;
    }
    70%{
        background-position: 65% 30%;
    }
    80%{
        background-position: 75% 45%;
    }
    90%{
        background-position: 100% 140%;
    }
    100%{
        background-position: -20% 230%;
    }
}
.fo1{
    font-weight: 900;
}
.fo2{
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    opacity: .9;
    margin-bottom: 25px;
}
.cros_btn{
    background:none;
    color: red;
    font-size: 25px;
    font-weight: 900;
}
.cros_btn:hover{
    color: blue;
    border-radius: 0px 20px 0px 20px;
}
.login_popup input[type=email]{
    width: 70%;
    padding: 5px 7px;
    outline: none;
    border: 1px solid grey;
    border-radius: 10px 0px 0px 10px;
}
.login_popup input[type=submit]{
    width: 24%;
    padding: 5px 0px;
    outline: none;
    border: 1px solid #48e8a8;
    background-color: #48e8a8;
    color: white;
    cursor: pointer;
}
.login_popup input[type=submit]:hover{
    background-color: red;
    border: 1px solid red;
}
.companyname{
    animation: shake .9s infinite alternate ease-in-out;

}
.delicate{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.delicate_form{
    width: 50%; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}
@keyframes shake {
    0% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(5px);
    }
  }
.mobile_bars{
    color: #48e8a8;
}
.Cards_left{
    width:100%; 
    height:573px;
}
.mobile{
    display: none;
}
@media (max-width:480px){
    body{
        overflow: hidden;
    }
    .nav-container{
        height: 50px;
        padding-top: 5px;
    }
    .logo{
        width: 85%;
        margin-top: -16px;
    }
    .for_padding{
        padding: 20px 0px 0px 17px;
    }
    .bkg1{
        background-image: url(../assets/form_bkg.png);
        background-position: 40% 30%;
        animation: 4s moove2 infinite;
    }
    @keyframes moove2 {
        25%{
            background-position: 60% 50%;
        }
        50%{
            background-position: 70% 60%;
        }
        75%{
            background-position: 30% 55%;
        }
        100%{
            background-position: -10% 20%;
        }  
    }
    #freemov div{
        width: 100%;
    }
    .hh5{
        width: 100%;
    }
    .padding_for_elements{
        padding: 60px 35px;
    }
    .hh9{
        width: 100%;
    }
    .Cards_left{
        height: 390px;
    }
    .hh11{
        width: 100%;
    }
    .delicate{
        width: 100%;
    }
    .delicate_form{
        width: 100%;
        margin-left: 3px;
        overflow: hidden;
    }
    .delicate_form textarea{
        width: 100%;
    }
    #foot div {
        text-align: justify;
    }
    .ff1{
        text-align: center;
    }
    .companyname{
        text-align: center;
    }
    .login_popup{
        left: 0%;
        width: 360px;
    }
    .big_screen{
        display: none;
    }
    .mobile{
        display: inline;
    }
    .mobile a{
        margin-bottom: -35px;
    }
}